{
    "port": 5050,
    "deploys" : [
        {
            "repository_full_name": "eduardozgz/member-counter-bot",
            "branch_to_deploy": "master",
            "secret": "supersecretsecret",
            "deploy_tasks": [
                "/home/eduardozgz/deployer/scripts/mcbot.sh"
            ]
        }
    ]
}
